* {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px auto;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 320px;
}

.content_text {
	font-weight: bold;
	font-size: 5em;
	color: #fff;
}

#main {
	background-color: #ffffff;
}

#main_top_button {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: #F44336;
	padding-top: 25px;
}

#main_bottom_button {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #F44336;
	padding-top: 25px;
}

#main_top_button_left {
	border-right: 1px solid red;
	width: 129px;
	height: 100%;
	display: inline-block;
}

#main_top_button_left_img {
	
}

#main_top_button_right {
	width: 129px;
	height: 100%;
	display: inline-block;
}

#main_top_button_right_img {
	padding-top: 40px;
	padding-left: 10px;
}

#main_bottom_button_left {
	border-right: 1px solid red;
	width: 129px;
	height: 100%;
	display: inline-block;
}

#main_bottom_button_left_img {
	padding-top: 10px;
}

#main_bottom_button_right {
	width: 129px;
	height: 100%;
	display: inline-block;
}

#main_bottom_button_right_img {
	padding-left: 20px;
}

#image_icon_left {
	z-index: 10;
	position: absolute;
	top: 38%;
	left: 5%;
}

#image_icon_right {
	z-index: 10;
	position: absolute;
	top: 38%;
	right: 5%;
}

.image_icon {
	height: 90px;
}